@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    width: 200px;
}

.container{
    position: relative;
    width: 100%;
    max-width: 300px;
    background: var(--DarkBlue);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.display{
    height: 80px;
    width: 100%;
    text-align: right;
    padding: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: var(--DisDarkBlue);
    border-bottom: 4px solid var(--DisDBS);
    pointer-events: none;
}

/* Special Buttons */
#delete{
    background-color: #E50808 !important;
    border-bottom: 3px solid #71320E !important;
    color: #fff !important;
}

#equation{
    background-color: var(--DisDarkBlue) !important;
    border-bottom: 3px solid var(--DisDBS) !important;
    grid-column: 3 / 5;
}

.buttons{
    margin-top: 35px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(5, 1fr);
}

.buttons button{
    cursor: pointer;
    padding: 12px 10px;
    border: none;
    border-radius: 6px;
    background-color: var(--btn-background);
    border-bottom: 3px solid var(--btnBorder-bottom);
    color: var(--white);
    font-size: .8rem;
    
}

.buttons button:active{
    transform: scale(.90);   
}

.operator{
    background-color: var(--ODarkBlue) !important;
    border-bottom: 3px solid #A2B99E !important;
    color: var(--black) !important;
}

.modes{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.allModes {
    margin: 8px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
}

.modes .allModes button{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    color: var(--white);
}

.modes .text h1{
    font-size: .8rem;
}

#DarkMode{
    background-color: #1B2432;
}

#green{
    background-color: #439775;
}

#brown{
    background-color: #DEA47E;
}

#blue{
    background-color: #1E91D6;
}
#purple{
    background-color: #6E44FF;
}

#yellow{
    background-color: #D5B942;
}

#Ghost{
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
}

.scale:active{
    transform: scale(0.90);
}

:root{
     
    --DarkBlue: #034078;
    --DisDarkBlue: #8DA9C4;
    --DisDBS: #0B2545;
    --ODarkBlue: #EEF4ED;
    --btn-background: #13315C;
    --white: #fff;
    --black: #000;
    --btnBorder-bottom: #0B2545;
}

/* All modes */

.container.darkMode{
    --DarkBlue: #1B2432;
    --ODarkBlue: #EEF4ED;
    --DisDarkBlue: #403F4C;
    --DisDBS: #2C2B3C;
    --btn-background: #2C2B3C;
    --btnBorder-bottom: #FFEED6;
}

.container.green{
    --DarkBlue: #439775;
    --ODarkBlue: #61D095;
    --DisDBS: #001F54;
    --DisDarkBlue: #E0BAD7;
}

.container.yellowMode{
    --DarkBlue:#D5B942;
    --ODarkBlue: #EDFBC1;
    --DisDBS: #A2B99E;
    --DisDarkBlue: #D9D375;
}

.container.purpleMode{
    --DarkBlue: #6E44FF;
    --ODarkBlue: #FFC2E2;
    --DisDBS: #001F54;
    --DisDarkBlue: #B892FF;
}

.container.brownMode{
    --DarkBlue:#DEA47E;
    --ODarkBlue: #9E6240;
    --DisDBS: #914F2A;
    --DisDarkBlue: #9E6240;
}

.container.blueMode{
    --DarkBlue: #1E91D6;
    --ODarkBlue: #8FC93A;
    --DisDBS: #8FC93A;
    --DisDarkBlue: #0072BB; 
}

.container.ghostMode{
    --DarkBlue: transparent;
    border: 2px solid #000;
    --ODarkBlue: #000;
    --DisDBS: none;
    --DisDarkBlue: transparent;
}

.display.ghostMode{
    border: 2px solid #000;
}