@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    width: 200px;
}

.container{
    position: relative;
    width: 100%;
    max-width: 300px;
    background: var(--DarkBlue);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.display{
    height: 80px;
    width: 100%;
    text-align: right;
    padding: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: var(--DisDarkBlue);
    border-bottom: 4px solid var(--DisDBS);
    pointer-events: none;
}

/* Special Buttons */
#delete{
    background-color: #E50808 !important;
    border-bottom: 3px solid #71320E !important;
    color: #fff;
}

#equation{
    background-color: var(--DisDarkBlue) !important;
    border-bottom: 3px solid var(--DisDBS) !important;
    grid-column: 3 / 5;
}

.buttons{
    margin-top: 35px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(5, 1fr);
}

.buttons button{
    cursor: pointer;
    padding: 12px 10px;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    font-size: .8rem;
    
}

.buttons button:active{
    transform: scale(.90);   
}

.operator{
    background-color: var(--ODarkBlue) !important;
    border-bottom: 3px solid #A2B99E !important;
}

.modes{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.allModes {
    margin: 8px;
}

.modes .allModes button{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.modes .text h1{
    font-size: .8rem;
}

#DarkMode{
    background-color: #1B2432;
    color: #fff;
}

:root{
     
    /* Container Colors*/
    --DarkBlue: #034078;
    --Blue: #1E91D6;
    --Brown: #DEA47E;
    --Purple: #6E44FF;
    --DarkYellow: #D5B942;
    --Green: #439775;

    /* Display */
    --DisDarkBlue: #8DA9C4;

    /* DisplayStroke */
    --DisDBS: #0B2545;


    /* Operator color */
    --ODarkBlue: #EEF4ED;





}

/* All modes */

.container.darkMode{
    --DarkBlue: #1B2432;
    --ODarkBlue: #EEF4ED;
    --DisDarkBlue: #403F4C;
    --DisDBS: #2C2B3C;
}

.container.green{
    --DarkBlue: #439775;
    --ODarkBlue: #61D095;
    --DisDBS: #001F54;
    --DisDarkBlue: #E0BAD7;
}